
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome to UsApp.</h1>
     
 
 
<p> First Name: {{ first_name  }} <br> Last Name: {{last_name}} <br> Email: {{email}} <br> Registration Date: {{reg_date}}</p>
 

</body>
</html>